#cntct {
    display: grid;
    place-items: center;
    padding: 2rem auto;
    margin: 1rem auto;
    color: black;
  }
  
  .wrapper .button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: var(--box-color);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
  }
  
  .wrapper .button:hover {
    width: 200px;
  }
  
  .wrapper .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 60px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .button:nth-child(1):hover .icon {
    background: #4267b2;
  }
  
  .wrapper .button:nth-child(2):hover .icon {
    background: #1da1f2;
  }
  
  .wrapper .button:nth-child(3):hover .icon {
    background: #e1306c;
  }
  
  .wrapper .button:nth-child(4):hover .icon {
    background: #333;
  }
  
  .wrapper .button:nth-child(5):hover .icon {
    background: #ff0000;
  }
  
  .wrapper .button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .button:hover .icon i {
    color:var(--body_color);
  }
  
  .wrapper .button span {
    font-size: 1rem;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  
  .wrapper .button:nth-child(1) span {
    color: var(--gold);
  }
  
  .wrapper .button:nth-child(2) span {
    color: var(--gold);
  }
  
  .wrapper .button:nth-child(3) span {
    color: var(--gold);
  }
  
  .wrapper .button:nth-child(4) span {
    color: var(--gold);
  }
  .copyright {
    text-align: center;
    margin-top: 15px;
    height: 30%;
    font-size: 80%;
    color: var(--body_color);
  }
  .copy {
    text-align: center;
    margin-bottom: 15px;
    height: 30%;
    color: var(--gold);
  }